a{
    list-style: none;
    text-decoration: none;
    color: white;
}
ul{
    text-decoration: none;
    list-style: none;
}

/*health*/
.health .img-container{
    width: 60px;
    height: 60px;
}
/*health*/

/* testimonials*/
.testimonials .img-container{
    width: 110px;
    height: 110px;
}

.testimonials .logo{
    position: relative;
    top: 35px;
}

.testimonials .text-content{
    padding: 0 447px;
}
.testimonials .text-content p{
    font-size: 14px;
}

@media (max-width : 500px) {
    .testimonials .text-content{
        padding: 0 15px;
    }
}
/* testimonials*/

/* touch */
.Touch .submit div{
    width: 70%;
}

@media (max-width : 500px) {
    .Touch .submit div{
        width: 100%;
    }
}

/* touch */

/* footer */
.footer{
    background-color: #3B3B3B;
}
.footer .third i {
    cursor: pointer;
    padding : 10px
    
}

.footer .third i:nth-child(1){
    background-color: #0d6efd;
    border-radius: 50%;
}
.footer .third i:nth-child(2){
    background-color: #084298;
    border-radius: 50%;
}
.footer .third i:nth-child(3){
    background-color: #dc3545;
    border-radius: 50%;
}
.footer .third i:nth-child(4){
    background-color: #0d6efd;
    border-radius: 50%;
}
.footer .third i:nth-child(5){
    background-color: #db126f;
    border-radius: 50%;
}
/* footer */